@model IEnumerable<CampusCourse.Models.Group>

<a asp-action="Create" asp-controller="Groups" style="color:black;border:1px solid black;width:85px;height:30px;line-height:30px">Add Group</a>

@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="card-header">
            <h3>
                <a asp-action="Create" asp-controller="Prototypes" asp-route-groupId="@item.Id">@item.Name</a>
            </h3>
        </div>
        <div class="card-body ">
            @foreach(var prototype in ViewBag.Prototypes)
            {
                <a asp-action="Create" asp-controller="Courses" asp-route-prototypeId="@prototype.Id">@prototype.Name</a>
            }
        </div>
        <div class="card-footer">
            @foreach(var course in ViewBag.Courses)
            {
                <a>@course.Name</a>
            }
        </div>
    </div>

}
